* {
    margin: 0px;
}

.tesla {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.icons>svg {
    height: 30px;
    width: 30px;
}

.logo>svg {
    height: 30px;
    width: 150px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
    height: 90px;
    color: white;
}

.navbar>a {
    text-decoration: none;
    
    font-size: 17px;
    margin: 0px 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    columns:black;
    font-weight: bold;
}

section{
    color: white;
    text-align: center;
    font-family: 'Times New Roman';
}
section h1{
    font-size: 60px;
}

section h3{
    border-bottom: 2px solid white;
    display: inline;
    font-size: 30px;
}
section p{
    line-height: 2rem;
    font-size: 20px;
}

footer{
    position: absolute;
    bottom: 50px;
    left: 450px;
}
#btn1,#btn2{
    height: 40px;
    width: 300px;
    padding: 5px 5px;
    margin: 10px;
    font-size: 15px;
}

#btn1{
    background: none;
    background-color: midnightblue;
    color: white;
    border-bottom: 2px;
}